@*<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
@model StudentManagementDemo.Models.DOBModel

@*{
    ViewBag.Title = "DOB";
    Layout = "~/Views/Shared/_Layout.cshtml";
}*@

@*<h2>DOB</h2>*@
@*@<%@ Page Language="C#" Inherits="System.Web.Mvc.ViewPage<StudentManagementDemo.Models.DOBModel>" %>

  @*<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">*@
    @*<html xmlns="http://www.w3.org/1999/xhtml">
    <head id="Head1" runat="server">
        <title>DOB</title>
        <style type="text/css">
            .style1 {
                width: 100%;
            }
        </style>
    </head>
    <body>
        <form id="form1" runat="server">
            <div>
                <table class="style1">
                    <tr>
                        <td width="25%">
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td width="25%">
                            <asp:Label ID="Label1" runat="server" Text="Enter DOB"></asp:Label>
                        </td>
                        <td>*@
                            @*Html.TextBox("date1")
                        </td>
                    </tr>
                    <tr>
                        <td width="25%">
                            <input id="Submit1" type="submit" value="DOB" />
                        </td>
                        <td>*@
                          @*ViewData["Age"]
                        </td>
                    </tr>
                    <tr>
                        <td width="25%">
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                </table>
            </div>
        </form>
    </body>
</html>*@
